<h1>Личный кабинет: {{ user.full_name }}</h1>
<p>Email: {{ user.email }}</p>
<p>Группа: {{user.group.name}} - {{user.group.type.value}}{{user.group.year_of_entry}}</p>
{% if user.consent_to_share_competency %}
  <p>Профиль компетенций: {{ user.competency_profile }}</p>
{% endif %}
<h2>Проекты:</h2>
<ul>
  {% for project in projects %}
  <li>
    <a href="{{ url_for('main.project_detail', project_id=project.id) }}">{{ project.title }}</a> - Статус: {{ project.status.value }}
</li>
  {% endfor %}
</ul>
<h2>Заявки:</h2>
<ul>
  {% for app in applications %}
    {% for project in projects %}
    {% if project.id == app.project_id%}
    <li>Проект:<a href="{{ url_for('main.project_detail', project_id=project.id) }}">{{ project.title }}</a> - Статус: {{ app.status.value }}</li>
    {% endif %}
    {% endfor %}
    {% endfor %}
</ul>
