<form method="post">
    <label for="title">Название</label>
    <input type="text" name="title" value="{{ project.title }}">
    
    <label for="description">Описание</label>
    <textarea name="description">{{ project.description }}</textarea>
    
    <label for="problem">Проблема</label>
    <textarea name="problem">{{ project.problem }}</textarea>
    
    <label for="solution">Решение</label>
    <textarea name="solution">{{ project.solution }}</textarea>

    <label for="max_participants">Максимально количество студентов</label>
    <input type="number" name="max_participants" id="max_participants">
        
    <label for="poster">Выберите постер:</label><br>
    <div id="poster">
      <input type="file" name="poster" required><br><br>
    </div>
    
    <label for="target_groups">Целевые группы</label>
    <select name="target_groups" multiple>
        {% for group in all_groups %}
            <option value="{{ group.id }}" {% if group in project.target_groups %}selected{% endif %}>
                {{ group.name }} - {{ group.type.value }} {{ group.year_of_entry }}
            </option>
        {% endfor %}
    </select>

    <label for="mentors">Менторы</label>
    <select name="mentors" multiple>
        {% for mentor in all_mentors %}
            <option value="{{ mentor.id }}" 
            {% if mentor in project.mentors %}
            selected
            {% endif %}>
                {{ mentor.full_name }}
            </option>
        {% endfor %}
    </select>

    <button type="submit">Сохранить изменения</button>
</form>
